body {
    background-color: #f9f9f9;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

/* Общий стиль для всего сайта */
#header {
    background-color: #2d2d2d;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.nav {
    font-size: 14px;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav ul li {
    display: inline-block;
    margin: 0 15px;
}

.nav ul li a {
    color: #f2f2f2;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #444;
}

.nav ul li a:hover {
    background-color: #888;
}

/* Заголовки анекдотов */
h2 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #333;
    padding: 10px;
    background-color: #eef;
    margin-top: 20px;
    border-radius: 5px;
}

/* Стили для блока с анекдотом */
.anekdoot {
    background-color: #ffffff;
    border: 2px solid #ddd;
    padding: 20px;
    margin: 15px auto;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Стили для текста анекдота */
.anekdoot-text {
    font-size: 18px;
    color: #333;
    line-height: 1.6;
    text-align: center;
}

/* Подпись автора анекдота */
.anekdoot-author {
    text-align: right;
    font-size: 14px;
    color: #555;
    margin-top: 15px;
}

.anekdoot i {
    font-style: italic;
    color: #4f4f4f;
}

.anekdoot b {
    font-weight: bold;
}

/* Стиль для навигации внизу страницы */
.nav2 {
    background-color: #2d2d2d;
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 10px;
    margin-top: 20px;

}

.nav2 p {
    margin: 0;
}

.nav2 a {
    color: #88aa00;
    text-decoration: none;
}

.nav2 a:hover {
    color: #4f4f4f;
}

.clear {
    clear: both;
}

@media (max-width: 780px) {
    .nav ul {
        text-align: center;  /* Центрируем список */
        padding: 0;
        margin: 0;
    }

    .nav ul li {
        display: block;      /* Каждый элемент на новой строке */
        margin: 5px auto;    /* Центрируем элементы */
    }

    .nav ul li a {
        padding: 15px 30px;  /* Увеличиваем отступы для кнопок */
        display: block;      /* Делаем ссылки блочными элементами */
        background-color: #666;  /* Меняем цвет фона для лучшего контраста */
        border-radius: 10px;    /* Округляем углы */
    }

    .nav ul li a:hover {
        background-color: #aaa;  /* Изменяем цвет при наведении */
    }
}

form {
    width: 70%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

form input[type="text"], form textarea, form input[type="date"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

form input[type="submit"] {
    background-color: #1d3557;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
}

form input[type="submit"]:hover {
    background-color: #457b9d;
}